<div class="container">
  <h1>List arm chart</h1>
  <div class="row">
    <ng-container *ngFor="let item of arr; let i=index">
      <div class="col-4">
        <div class="flex align-center">
          <button class="btn" (click)="changeChart(1, i)">Bar</button>
          <button class="btn" (click)="changeChart(2, i)">Pie</button>
          <button class="btn" (click)="changeChart(3, i)">Area</button>
          <button class="btn" (click)="changeChart(4, i)">Line</button>
          <button class="btn" (click)="changeChart(5, i)">Scatter</button>
        </div>
        <div>
          <app-bar-chart *ngIf="item.type == 1" [index]="i"></app-bar-chart>
          <app-pie-chart *ngIf="item.type == 2" [index]="i"></app-pie-chart>
          <app-area-chart *ngIf="item.type == 3" [index]="i"></app-area-chart>
          <!-- <app-line-chart *ngIf="item.type == 4" [index]="i"></app-line-chart> -->
          <!-- <app-scatter-chart *ngIf="item.type == 5" [index]="i"></app-scatter-high-chart> -->
        </div>
      </div>
    </ng-container>
  </div>
</div>
